<% end_date = Time.current %>
<% start_date = @current_program.created_at %>
<% formatted_start_date = DateTime.localize(start_date, format: :full_display_no_time) %>
<% formatted_end_date = DateTime.localize(end_date, format: :full_display_no_time) %>

<div class="cui-date-range-filter">
  <% profile_filter_wrapper "#{formatted_start_date} - #{formatted_end_date}", false do %>
    <div class="cui-date-range-container" id="cjs_date_range_container">
      <%= form_tag group_checkins_path, :id => "cjs_date_range_form" do %>
        <%= response_flash("cjs_date_range_flash") %>
        <%= construct_daterange_picker("date_range", { start: start_date, end: end_date }, presets: [DateRangePresets::MONTH_TO_DATE, DateRangePresets::CUSTOM], date_format: "kendo_date_picker.formats.full_display_no_time".translate, right_addon: { type: "btn", btn_options: { type: "submit", id: "cjs_date_range_submit", class: "btn btn-primary" }, content: "display_string.Go".translate } ) %>
      <% end %>
    </div>
  <% end %>
</div>