<div>
  <div>
    <span class='has-next-6 pull-left'> <%= meeting_text %> </span>
    <span> CJS_DUMMY_TEXT_MEETING_HOURS </span>
  </div>
  <div>
    <span class='has-next-6 pull-left'> <%= "feature.group_checkin.tasks".translate %> </span>
    <span class='pull-right'> CJS_DUMMY_TEXT_TASK_HOURS </span>
  </div>
  <hr class='no-margin-bottom'/>
  <div>
    <span class='has-next-6 pull-left'> <%= "feature.group_checkin.total".translate %> </span>
    <span> CJS_DUMMY_TEXT_TOTAL_HOURS </span>
  </div>
</div>