<div class="m-b-lg no-padding">
  <div class="row">
    <%= render partial: "match_reports/mentee_actions/applied_filters_pane", locals: {filter_data: section_data[:filter_data]} %>
    <%= render partial: "match_reports/mentee_actions/search_keywords_pane", locals: {search_data: section_data[:search_data]} %>
  </div>
</div>