<div id="mentor_request_instruction" class="m-b-sm p-t-xxs">
  <div class="well p-xs">
    <h4><%= "feature.preferred_mentoring.content.instructions.header".translate %></h4>
    <%= render partial: "mentor_requests/mentor_request_instructions" %>
  </div>
</div>