<div id="cjs_<%= MessageConstants::Tabs::INBOX %>_messages_list" class="cjs_messages_list">
  <%= render "messages/messages_list", {tab_number: MessageConstants::Tabs::INBOX, tab_data: messages_presenter.tabs_data[MessageConstants::Tabs::INBOX], is_inbox: true} %>
</div>
<div id="cjs_<%= MessageConstants::Tabs::SENT %>_messages_list" class="hide cjs_messages_list">
  <%= render "messages/messages_list", {tab_number: MessageConstants::Tabs::SENT, tab_data: messages_presenter.tabs_data[MessageConstants::Tabs::SENT], is_inbox: false} %>
</div>
