<table cellspacing='0' cellpadding='0' border='0' style='table-layout: fixed; text-align: left; width: 100% !important; margin: 10px 0 0 0;' width='100%'>
  <tbody>
    <tr>
      <td style="padding: 10px 0px 20px;">
        <table cellspacing="0" cellpadding="0" border="0" style="display: inline-block;">
          <tbody>
            <tr> 
              <td valign="top" style="color: #129e12; padding: 7px; border-radius: 3px; border-color: #1eaa79; border-style: solid; white-space: nowrap; background-color: #1eaa79; line-height: 16px; border-width: 10px 10px;">
                <%= link_to('email_translations.mobile_app_login.tags.mobile_app_login_button.confirm_login'.translate(program: @_program_string), url, style: "color: #ffffff; white-space: nowrap; background-color: #1eaa79; text-decoration: none; font-size: 16px; font-weight: normal;") %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>          
</table>