<div class="p-sm">
  <%= "feature.reports.content.mentoring_sessions_not_found_v1".translate(:Meetings => _Meetings) %>
  <ul class="m-t-xs">
    <li class="m-b-xs"> <%= "feature.reports.content.broaden_search_through_proper_filtering".translate %> </li>
    <li class="m-b-xs"> <%= link_to "feature.reports.content.view_all_mentoring_sessions_v1".translate(:Meetings => _Meetings), mentoring_sessions_path %> </li>
  </ul>
</div>