/.idea/*
.rvmrc
rerun.txt
app/views/**/.tmp_*
public/images/Thumbs.db
public/system
public/blank.html
/.project
/.loadpath
/db/sphinx/test
/db/sphinx/test2
/db/sphinx/test3
/db/sphinx/test4
/db/sphinx/test5
/db/sphinx/test6
/db/sphinx/test7
/db/sphinx/test8
/db/sphinx
/db/sphinx/cucumber
/db/sphinx/development
/tmp
/log
/config/development.sphinx.conf
/config/test.sphinx.conf
/config/test2.sphinx.conf
/config/test3.sphinx.conf
/config/test4.sphinx.conf
/config/test5.sphinx.conf
/config/test6.sphinx.conf
/config/test7.sphinx.conf
/config/test8.sphinx.conf
/config/cucumber.sphinx.conf
/config/deploy_dr.yml
/config/.env
/themes/migration/production_css/**
/themes/migration/production_css2/**
nbproject
db/development_structure.sql
db/test_structure.sql
/results
cities.txt
states.txt
countries.txt
GPATH
GRTAGS
GSYMS
GTAGS
webrat.log
test/fixtures/*.yml
.rvmrc
.gemtags
.tags
.tags_sorted_by_file
vendor/engines/chronus_mentor_api/log
.ruby-version
.ruby-gemset
.tddium*
.bundle/*
test/fixtures/files/test_file.csv
test/fixtures/files/user_activity_export.csv
test/fixtures/files/groups_report_test_file.csv
test/fixtures/files/mentoring_model/*.csv
test/locales/test_phrase.*.yml
/***/.DS_Store
public/assets
REVISION
assets_manifest.yml
data_digest.yml
public/mobile
.reviewboardrc
coverage
.solano*
es_indexes_digest.yml
.byebug_history
test/reports/*.xml