<% if task_has_description %>
  <div>
    <%= render_more_less(object_description_content(task), 600) %>
  </div>
<% end %>
<% if goal.present? && (manage_mm_goals_at_admin_level?(@group) || manage_mm_goals_at_end_user_level?(@group)) %>
  <div class="text-navy m-t-xs">
    <span class="p-r-xxs"><%= "feature.mentoring_model_task_comment.content.goal".translate %>:</span>
    <%= goal.title %>
  </div>
<% end %>