<div class="p-md text-center clearfix">
  <span class="fa-stack fa-lg fa-3x text-navy">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
  </span>
  <div class="m">
    <span class="text-muted">
      <%= "feature.common_tasks.content.no_tasks_helptext".translate %>
    </span>
    <%= link_to "feature.group.content.view_plan".translate, group_path(group, {show_plan: true}), class: 'font-bold' %>
  </div>
</div>