<p>The following organization has been deactivated </p>
<b> Organization Name: </b><%= @org_name %><br />
<% if @org_account_name.present? %>
  <b> Account Name: </b><%= @org_account_name %><br />
<% end %>
<b> URL: </b><%= @org_url %><br />