<div class="m-t well well-sm" id="add_new_three_sixty_open_ended_question_container">
  <%= render :partial => "three_sixty/competencies/new_open_ended_question", :locals => {:question => @current_organization.three_sixty_questions.new, :for_new => true } %>
</div>
