<div id="cjs_invitation_list">
  <%= render partial: "program_invitations/program_invitation_list", locals: { program_invitations: program_invitations, include_expired_invitations: include_expired_invitations, apply_pending_filter: apply_pending_filter, total_count: @total_count } %>
</div>

