<div class="cui_campaign_pi_progress">
  <div class="cui_campaign_pi_progress_circle cui_campaign_pi_progress_done">
    <span class="cui_campaign_pi_progress_label">&#10003;</span>
    <span class="cui_campaign_pi_progress_title">Sent</span>
  </div>
  <span class="cui_campaign_pi_progress_bar cui_campaign_pi_progress_done"></span>
  <div class="cui_campaign_pi_progress_circle cui_campaign_pi_progress_done">
    <span class="cui_campaign_pi_progress_label">&#10003;</span>
    <span class="cui_campaign_pi_progress_title">Delivered</span>
  </div>
  <span class="cui_campaign_pi_progress_bar cui_campaign_pi_progress_done"></span>
  <div class="cui_campaign_pi_progress_circle cui_campaign_pi_progress_done">
    <span class="cui_campaign_pi_progress_label">&#10003;</span>
    <span class="cui_campaign_pi_progress_title">Opened</span>
  </div>
  <span class="cui_campaign_pi_progress_bar cui_campaign_pi_progress_done"></span>
  <div class="cui_campaign_pi_progress_circle cui_campaign_pi_progress_done">
    <span class="cui_campaign_pi_progress_label">&#10003;</span>
    <span class="cui_campaign_pi_progress_title">Clicked</span>
  </div>
  <span class="cui_campaign_pi_progress_bar cui_campaign_pi_progress_done"></span>
  <div class="cui_campaign_pi_progress_circle cui_campaign_pi_progress_done">
    <span class="cui_campaign_pi_progress_label">&#10003;</span>
    <span class="cui_campaign_pi_progress_title">Accepted</span>
  </div>  
</div> 


<!-- 
  <span class="cui_campaign_pi_progress_bar cui_campaign_pi_progress_half"></span>
  <div class="cui_campaign_pi_progress_circle cui_campaign_pi_progress_active">
    <span class="cui_campaign_pi_progress_label">&#10003;</span>
    <span class="cui_campaign_pi_progress_title">Opened</span>
  </div>
   -->