<div class="well square-well no-border bg-highlight cui-small-margin-bottom" >
  <%= embed_icon('icon-user', three_sixty_name_email_and_reviewer_group(invited_reviewer.name, invited_reviewer.email, invited_reviewer.survey_reviewer_group.reviewer_group.name)) %>
</div>