<div class="modal-header no-padding clearfix hidden-lg hidden-md">
  <h4 class="modal-title">
    <span class="pull-left cjs-mobile-modal-cancel p-sm p-r-0" data-dismiss="modal"><i class="fa fa-chevron-left fa-fw m-r-xs"></i></span>
    <span class="sr-only">Cancel</span>
  </h4>
</div>
<div class="modal-body">
  <div class="sk-spinner sk-spinner-pulse"></div>
</div>
