<div class="cjs_quick_connect_box explicit_preference_recommendations m-b-xl cjs_tile_container">
  <%= tooltip("cjs_hide_quick_connect_box", "feature.meetings.content.hide_for_this_session_tooltip".translate) %>
  <div class="cjs_quick_connect_items">
    <%= get_quick_connect_title(recommendations_view: AbstractPreference::Source::EXPLICIT_PREFERENCES_RECOMMENDATIONS) %>
    <%= render(partial: "programs/quick_connect_loader") %>
  </div>
  <%= javascript_tag(%Q[Meetings.QuickConnect.initializeQuickConnectElements("#{quick_connect_box_path(ignore_mentors: get_user_ids_from_mentor_list(mentors_list), only_explicit_preference_recommendations: true)}");]) %>
</div>