<%= render(partial: "common/tile_placeholder") %>
<div class="hide cjs_no_recommendations_available">
  <div class="tile-response text-center">
    <%= "feature.explicit_preference.content.no_recommendations_available".translate %>
  </div>
</div>