<div class="cjs_contract_management_coaching_hours">
  <%= ibox 'feature.connection.header.check_in_time'.translate, :content_class=>"p-b-xs", :show_collapse_link => true do %>
    <div class="row">
      <div class="col-sm-4 p-b-xs col-xs-6" id="cjs-group-sidepane-total-checkin-duration">
        <% duration, hour_string = display_checkin_duration(group.group_checkins_duration, hour_format: true, hide_clock: true) %>
        <%= display_stats(duration, 'feature.connection.header.total_time'.translate, :right_small_label => hour_string, :in_listing => true ) %>
      </div>

      <div class="col-sm-4 p-b-xs col-xs-6">
        <% duration, hour_string = display_checkin_duration(group.group_checkins_duration(MemberMeeting.name), hour_format: true, hide_clock: true) %>
        <%= display_stats(duration, "feature.connection.header.all_meetings".translate(:Meetings => _Meetings), :right_small_label => hour_string, :in_listing => true ) %>
      </div>
      <div class="col-sm-4 p-b-xs col-xs-6" id="cjs-group-sidepane-tasks-checkin-duration">
        <% duration, hour_string = display_checkin_duration(group.group_checkins_duration(MentoringModel::Task.name), hour_format: true, hide_clock: true) %>
        <%= display_stats(duration, "feature.connection.header.all_tasks".translate, :right_small_label => hour_string, :in_listing => true ) %>
      </div>
    </div>
  <% end %>
</div>