<% goal_status = goal.completion_percentage(required_tasks) %>
<% goal_tasks = goal.mentoring_model_tasks %>

<div class="clearfix">
  <div class="font-bold h5 m-b-0">
    <%= display_goal_status(goal.id, goal_tasks, goal_status, {completed_tasks: goal_tasks.select{|task| task.done? }.size, show_manage_connections_view: local_assigns[:show_manage_connections_view]}) %>
    <% if local_assigns[:from_groups] %>
      <%= truncate(goal.title, :length => MentoringModel::GoalsHelper::TRUNCATE_GOAL_STRING_LENGTH) %>
    <% else %>
      <%= link_to truncate(goal.title, :length => MentoringModel::GoalsHelper::TRUNCATE_GOAL_STRING_LENGTH), group_mentoring_model_goals_path(group, scroll_to: "goal_rich_view_" + goal.id.to_s) %>
    <% end %>
  </div>
</div>

<%= render :partial => "mentoring_model/goals/display_goal_progress", locals: { goal: goal, goal_status: goal_status, goal_tasks: goal_tasks, connection_and_reports_page: true, show_manage_connections_view: local_assigns[:show_manage_connections_view] } %>