<% activity_details = [] %>
<% if group.can_manage_mm_meetings?(group_roles) %>
  <% activity_details << { icon_class: "fa fa-calendar", text: "feature.mentoring_model.information.meetings_attended".translate(count: group.past_active_meetings.count, Meeting: _Meeting, Meetings: _Meetings) } %>
<% end %>
<% if group.scraps_enabled? %>
  <% activity_details << { icon_class: "fa fa-envelope", text: "feature.mentoring_model.information.messages_exchanged".translate(count: group.scraps.size) } %>
<% end %>
<% if group.forum_enabled? %>
  <% topics_count = group.topics.size %>
  <% posts_count = group.posts.size %>
  <% key = (topics_count == 1) ? "feature.mentoring_model.information.posts_in_conversation" : "feature.mentoring_model.information.posts_in_conversations" %>
  <% activity_details << { icon_class: "fa fa-comment", text: key.translate(count: group.posts.size, topics_count: topics_count, posts_count: posts_count) } %>
<% end %>

<% if activity_details.present? %>
  <div class="clearfix m-t">
    <% activity_details.each_with_index do |activity, index| %>
      <% last_activity = activity_details.size == (index + 1) %>
      <%= content_tag(:div, append_text_to_icon(activity[:icon_class], activity[:text]), class: "font-bold m-b #{'pull-sm-left' unless last_activity}") %>
      <%= content_tag(:div, vertical_separator, class: "pull-sm-left hidden-xs") unless last_activity %>
    <% end %>
  </div>
<% end %>