<div class="row">
  <% unless survey_answers.nil? %>
    <div class="col-md-6">
      <%= render partial: "groups/display_survey_responses", locals: { survey_answers: survey_answers, group: group, tasks: tasks } %>
    </div>
  <% end %>
  <div class="<%= survey_answers.nil? ? 'col-md-12' : 'col-md-6' %>">
    <%= render partial: "groups/milestones_progress", locals: { group: group, show_manage_connections_view: show_manage_connections_view } %>
  </div>
</div>