<% modal_v3_popup @bulk_action_title do %>
  <div id="bulk_action_popup">
    <%= render :partial => "users/bulk_add_to_program", :locals => {member_ids: @member_ids, roles: @roles} %>
  </div>
<% end %>