<div class='create-admin-view b-t'>
  <div class='media-left no-horizontal-padding'>
    <i class='fa fa-plus fa-fw m-sm'></i>
  </div>
  <div class='media-body m-t-xs'>
    <%= link %>
  </div>
</div>
