<div class="content_wrapper" id="export_to_csv_popup">
  <div class="text-center">
    <div class="content">
      <%= message %>
    </div>
    <div class="loader has-above">
      <img alt="<%= loader_image_alt_text %>" src="<%= loader_image %>"/>
    </div>
  </div>
</div>