<a class="<%= tile_settings_class %> cjs-match-report-settings p-xxs pull-right" href="javascript:void(0);" data-tile='<%= tile %>' data-admin-view-id='<%= admin_view_id %>'>
  <i class="fa fa-lg no-margins fa-fw m-r-xs fa-cog"></i><span class="sr-only"><%= "display_string.Settings".translate %></span>
</a>