<div class="m-t-sm">
  <%= render partial: "meeting_requests/embed_meeting_details", locals: { meeting_request: meeting_request, is_mentor_action: is_mentor_action, user: user, filter_field: filter_field, source: source } %>
</div>