<% modal_v3_popup "feature.group.action.select_fields".translate do %>
  <div id="edit_columns_groups_listing_popup">
    <%= render partial: 'group_views/form', locals: { view: view, tab: tab, profile_questions_hash: profile_questions_hash, connection_questions: connection_questions } %>
  </div>
<% end %>