<% modal_v3_popup "feature.reports.content.new_report_metric_v1".translate, {modern_qtip: true, width: 730, container_class: "report-popup"} do %>
  <div id="edit_report_metric" class="has-above-2">
    <%= render partial: "report/metrics/form", locals: {
      metric: @metric,
      target_path: report_section_metrics_path(@section, format: :js),
      subview_optgroups: @subview_optgroups
    } %>
  </div>
<% end %>
