<tr>
  <td colspan="2" width='100%' style='width: 100% !important; padding: 5px 0;'>
    <%= link_to "email_translations.digest_v2.content.view_details".translate, url, {style: 'padding: 5px; background-color: #00566A !important; color: #FFFFFF !important; font-size: 12px !important;'} %>
  </td>
</tr>