.manage-icon-settings{
	background-position: 1px 0px;
}

.manage-icon-program{
	background-position: -48px 0px;
}

.manage-icon-appearance{
	background-position: -97px 0px;
}

.manage-icon-analytics{
	background-position: -146px 0px;
}

.manage-icon-forum{
	background-position: -195px 0px;
}

.manage-icon-email{
	background-position: -244px 0px;	
}

.manage-icon-support{
	background-position: -342px 0px;	
}

.manage-icon-admin-messages{
	background-position: -391px 0px;	
}

.manage-icon-announcements{
	background-position: -440px 0px;	
}

.manage-icon-events{
	background-position: -489px 0px;	
}

.manage-icon-campaign-management{
	background-position: -538px 0px;	
}

.manage-icon-reports{
	background-position: -587px 0px;	
}

.manage-icon-survey{
	background-position: -636px 0px;	
}

.manage-icon-three-sixty{
	background-position: -685px 0px;	
}

.manage-icon-flagged-content{
	background-position: -734px 0px;	
}

.manage-icon-moderate-content{
	background-position: -783px 0px;	
}

.manage-icon-facilitation-messages{
	background-position: -832px 0px;	
}

.manage-icon-all-users{
	background-position: -881px 0px;	
}

.manage-icon-membership-requests{
	background-position: -930px 0px;	
}

.manage-icon-add-users{
	background-position: -979px 0px;	
}

.manage-icon-invitations{
	background-position: -1028px 0px;	
}

.manage-icon-bulk-match{
	background-position: -1077px 0px;	
}

.manage-icon-customize-connection-profile{
	background-position: -1126px 0px;	
}

.manage-icon-mentoring-connections{
	background-position: -1175px 0px;	
}

.manage-icon-saml-sso{
	background-position: -1224px 0px;	
}

.manage-icon-meeting-requests{
	background-position: 1px -50px;	
}

.manage-icon-mentoring-requests{
	background-position: -48px -50px;	
}

.manage-icon-customize{
	background-position: -97px -50px;	
}

.manage-icon-mentoring-connection-templates{
	background-position: -146px -50px;	
}

.manage-icon-mentoring-insights{
	background-position: -195px -50px;	
}

.manage-icon-preview-profile{
	background-position: -244px -50px;	
}

.manage-icon-customize-profile{
	background-position: -293px -50px;	
}

.manage-icon-preview-membership{
	background-position: -342px -50px;	
}

.manage-icon-customize-membership{
	background-position: -391px -50px;	
}

.manage-icon-admin{
	background-position: -440px -50px;
}

.manage-icon-data-import{
	background-position: -538px -50px;
}

.manage-icon-language-setting{
	background-position: -587px -50px;
}

.manage-icon-blocked{
	background-position: -636px -50px;
}

.manage-icon-export{
	background-position: -685px -50px;
}

.manage-icon-goals{
    background-position: -734px -50px;	
}


.manage-icon-resources{
	background-position: -832px -50px;	
}

.manage-icon-admin-audit-logs{
	background-position: -881px -50px;
}

.manage-icon-add-program{
	background-position: -930px -50px;
}

.manage-icon-facilitate-mentoring-connections{
	background-position: -979px -50px;
}

.manage-icon-customize-mentoring-request-form{
	background-position: -1028px -50px;
}

.manage-icon-mentoring-connection-milestone{
	background-position: -1077px -50px;
}

.manage-icon-mentoring-connection-request{
	background-position: -1126px -50px;
}

.manage-icon-mentoring-offers{
	background-position: -1175px -50px;
}