.icon-group {
  background-position: -477px -25px;
}

.icon-add-user {
  background-position: -475px -1px;
}

.icon-add-user-large {
  background-position: -1px -169px;
  margin-right: 5px;
}

.icon-add-user-disabled {
  background-position: -30px -169px;
  margin-right: 5px;
}

.icon-remove-user {
  background-position: -476px -49px;
}

.icon-forum {
  background-position: -500px -25px;
}

.icon-milestone {
  background-position: -480px -145px;
}

.icon-warning {
  background-position: -479px -95px;
}

.icon-linkedin {
  background-position: -501px -1px;
}

.icon-reply {
  background-position: -477px -121px;
}

.icon-attachment {
  background-position: -501px -49px;
}

.icon-wob {
  background-position: -479px -73px;
}

.icon-close {
  background-position: -502px -122px;
}

//Bootstrap rules

/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: image-url("glyphicons-halflings.png");
}

.icon-glass{background-position:0 0;}
.icon-music{background-position:-24px 0;}
.icon-search{background-position:-48px 0;}
.icon-envelope{background-position:-72px 0;}
.icon-envelope-large{
  background-position:-117px -169px;
  margin-right: 5px;
}
.icon-heart{background-position:-96px 0;}
.icon-star{background-position:-120px 0;}
.icon-star-empty{background-position:-144px 0;}
.icon-user{background-position:-168px 0;}
.icon-film{background-position:-192px 0;}
.icon-th-large{background-position:-216px 0;}
.icon-situations{background-position:-240px 0;}
.icon-topic{background-position:-264px 0;}
.icon-ok{background-position:-288px 0;}
.icon-remove{background-position:-312px 0;}
.icon-zoom-in{background-position:-336px 0;}
.icon-zoom-out{background-position:-360px 0;}
.icon-off{background-position:-384px 0;}
.icon-signal{background-position:-408px 0;}
.icon-cog{background-position:-432px 0;}
.icon-trash{background-position:-456px 0;}
.icon-home{background-position:0 -24px;}
.icon-file{background-position:-24px -24px;}
.icon-time{background-position:-48px -24px;}
.icon-road{background-position:-72px -24px;}
.icon-download-alt{background-position:-96px -24px;}
.icon-download{background-position:-120px -24px;}
.icon-upload{background-position:-144px -24px;}
.icon-inbox{background-position:-168px -24px;}
.icon-play-circle{background-position:-192px -24px;}
.icon-repeat{background-position:-216px -24px;}
.icon-refresh{background-position:-240px -24px;}
.icon-article{background-position:-264px -24px;}
.icon-lock{background-position:-287px -24px;}
.icon-flag{background-position:-312px -24px;}
.icon-headphones{background-position:-336px -24px;}
.icon-volume-off{background-position:-360px -24px;}
.icon-volume-down{background-position:-384px -24px;}
.icon-announcement{background-position:-408px -24px;}
.icon-qrcode{background-position:-432px -24px;}
.icon-barcode{background-position:-456px -24px;}
.icon-tag{background-position:0 -48px;}
.icon-tags{background-position:-25px -48px;}
.icon-book{background-position:-48px -48px;}
.icon-bookmark{background-position:-72px -48px;}
.icon-print{background-position:-96px -48px;}
.icon-camera{background-position:-120px -48px;}
.icon-font{background-position:-144px -48px;}
.icon-bold{background-position:-167px -48px;}
.icon-italic{background-position:-192px -48px;}
.icon-text-height{background-position:-216px -48px;}
.icon-text-width{background-position:-240px -48px;}
.icon-align-left{background-position:-264px -48px;}
.icon-align-center{background-position:-288px -48px;}
.icon-align-right{background-position:-312px -48px;}
.icon-align-justify{background-position:-336px -48px;}
.icon-list{background-position:-360px -48px;}
.icon-indent-left{background-position:-384px -48px;}
.icon-indent-right{background-position:-408px -48px;}
.icon-facetime-video{background-position:-432px -48px;}
.icon-picture{background-position:-456px -48px;}
.icon-pencil{background-position:0 -72px;}
.icon-map-marker{background-position:-24px -72px;}
.icon-adjust{background-position:-48px -72px;}
.icon-tint{background-position:-72px -72px;}
.icon-edit{background-position:-96px -72px;}
.icon-share{background-position:-120px -72px;}
.icon-check{background-position:-144px -72px;}
.icon-move{background-position:-168px -72px;}
.icon-step-backward{background-position:-192px -72px;}
.icon-fast-backward{background-position:-216px -72px;}
.icon-backward{background-position:-240px -72px;}
.icon-play{background-position:-264px -72px;}
.icon-pause{background-position:-288px -72px;}
.icon-stop{background-position:-312px -72px;}
.icon-forward{background-position:-336px -72px;}
.icon-fast-forward{background-position:-360px -72px;}
.icon-step-forward{background-position:-384px -72px;}
.icon-eject{background-position:-408px -72px;}
.icon-chevron-left{background-position:-432px -72px;}
.icon-chevron-right{background-position:-456px -72px;}
.icon-plus-sign{background-position:0 -96px;}
.icon-minus-sign{background-position:-24px -96px;}
.icon-remove-sign{background-position:-48px -96px;}
.icon-ok-sign{background-position:-72px -96px;}
.icon-question-sign{background-position:-96px -96px;}
.icon-info-sign{background-position:-120px -96px;}
.icon-screenshot{background-position:-144px -96px;}
.icon-remove-circle{background-position:-168px -96px;}
.icon-ok-circle{background-position:-192px -96px;}
.icon-ban-circle{background-position:-216px -96px;}
.icon-arrow-left{background-position:-240px -96px;}
.icon-arrow-right{background-position:-264px -96px;}
.icon-arrow-up{background-position:-289px -96px;}
.icon-arrow-down{background-position:-312px -96px;}
.icon-share-alt{background-position:-336px -96px;}
.icon-resize-full{background-position:-360px -96px;}
.icon-resize-small{background-position:-384px -96px;}
.icon-plus{background-position:-408px -96px;}
.icon-minus{background-position:-433px -96px;}
.icon-asterisk{background-position:-456px -96px;}
.icon-exclamation-sign{background-position:0 -120px;}
.icon-gift{background-position:-24px -120px;}
.icon-leaf{background-position:-48px -120px;}
.icon-fire{background-position:-72px -120px;}
.icon-eye-open{background-position:-96px -120px;}
.icon-eye-close{background-position:-120px -120px;}
.icon-warning-sign{background-position:-144px -120px;}
.icon-plane{background-position:-168px -120px;}
.icon-calendar{background-position:-192px -120px;}
.icon-calendar-large{
  background-position:-59px -169px;
  margin-right: 5px;
}
.icon-calendar-disabled{
  background-position:-88px -169px;
  margin-right: 5px;
}
.icon-random{background-position:-216px -120px;width:16px;}
.icon-comment{background-position:-240px -120px;}
.icon-magnet{background-position:-264px -120px;}
.icon-chevron-up{background-position:-288px -120px;}
.icon-chevron-down{background-position:-313px -119px;}
.icon-square-refresh{background-position:-336px -120px;}
.icon-shopping-cart{background-position:-360px -120px;}
.icon-folder-close{background-position:-384px -120px;}
.icon-folder-open{background-position:-408px -120px;width:16px;}
.icon-resize-vertical{background-position:-432px -119px;}
.icon-resize-horizontal{background-position:-456px -118px;}
.icon-hdd{background-position:0 -144px;}
.icon-bullhorn{background-position:-24px -144px;}
.icon-bell{background-position:-48px -144px;}
.icon-certificate{background-position:-72px -144px;}
.icon-thumbs-up{background-position:-96px -144px;}
.icon-thumbs-down{background-position:-120px -144px;}
.icon-hand-right{background-position:-144px -144px;}
.icon-hand-left{background-position:-168px -144px;}
.icon-hand-up{background-position:-192px -144px;}
.icon-hand-down{background-position:-216px -144px;}
.icon-circle-arrow-right{background-position:-240px -144px;}
.icon-circle-arrow-left{background-position:-264px -144px;}
.icon-circle-arrow-up{background-position:-288px -144px;}
.icon-circle-arrow-down{background-position:-312px -144px;}
.icon-globe{background-position:-336px -144px;}
.icon-wrench{background-position:-360px -144px;}
.icon-tasks{background-position:-384px -144px;}
.icon-filter{background-position:-408px -144px;}
.icon-briefcase{background-position:-432px -144px;}
.icon-fullscreen{background-position:-456px -144px;}
.icon-pdf{background-position: -500px -71px}
.icon-csv{background-position: -500px -95px}
.icon-owner{background-position: -500px -142px}
.icon-leave-page{background-position:-120px -71px;}


/* Mentoring Model V2 related style - start */

.icon-mentoring-model-v2-manage_mm_milestones {
  background-position: -75px -21px;
  width: 96px;
  height: 20px;
  margin-top: 30px;
}

.icon-mentoring-model-v2-manage_mm_goals {
  background-position: -100px -86px;
  width: 71px;
  height: 71px;
  margin-top: 15px;
}

.icon-mentoring-model-v2-manage_mm_tasks {
  background-position: -8px -85px;
  width: 83px;
  height: 57px;
  margin-top: 20px;
}

.icon-mentoring-model-v2-manage_mm_messages {
  background-position: -75px -43px;
  width: 63px;
  height: 38px;
  margin-top: 15px;
}

.icon-mentoring-model-v2-manage_mm_meetings {
  background-position: -5px -19px;
  width: 55px;
  height: 55px;
}

.icon-mentoring-model-v2-manage_mm_engagement_surveys {
  background-position: 0px 0px;
  width: 55px;
  height: 71px;
  margin-top: -6px;
}

.icon-mentoring-model-v2-user {
  background-position: -147px -41px;
  width: 16px;
}

.icon-mentoring-model-v2-drop-down {
  background-position: -89px -1px;
  width: 15px;
}

.icon-mentoring-model-v2-attachment {
  background-position: -104px -3px;
  width: 15px;
  height: 13px;
  margin-right: 5px;
}

.icon-mentoring-model-v2-edit {
  background-position: -31px 0px;
  width: 12px;
  height: 15px;
}

.icon-mentoring-model-v2-message {
  background-position: -14px 0px;
  width: 18px;
  height: 15px;
  margin-top: -1px;
}

.icon-mentoring-model-v2-delete {
  background-position: -43px 0px;
  width: 16px;
  height: 16px;
}

.icon-mentoring-model-v2-meeting-task {
  background-position: -74px 0px;
  width: 15px;
  margin-top: 0px;
}

.icon-mentoring-model-v2-meeting {
  background-position: -130px 0px;
  width: 20px;
  height: 20px;
}

.icon-mentoring-model-v2-draggable {
  background-position: 0 0;
  width: 10px;
}

.icon-mentoring-model-v2-message-group-icon {
  background-position: -15px -4px;
  width: 16px;
  height: 10px;
  margin-top: 3px;
}

.icon-mentoring-model-v2-small-calendar-icon {
  background-position: -75px -2px;
  width: 13px;
  height: 14px;
}

.icon-mentoring-model-v2-inverted-arrow-icon {
  background-position: -144px -56px;
  width: 23px;
  height: 19px;
}

.icon-mentoring-model-v2-manage_mm_milestones-feature-enabled{
  background-position: -5px -162px;
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  margin-top: -2px;
}

.icon-mentoring-model-v2-manage_mm_goals-feature-enabled{
  background-position: -73px -160px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-top: -2px;
  margin-left: -3px;
}

.icon-mentoring-model-v2-manage_mm_tasks-feature-enabled{
  background-position: -112px -164px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.icon-mentoring-model-v2-manage_mm_messages-feature-enabled{
  background-position: -143px -166px;
  background-repeat: no-repeat;
  width: 21px;
  height: 13px;
}

.icon-mentoring-model-v2-manage_mm_meetings-feature-enabled{
  background-position: -40px -160px;
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  margin-top: -4px;
}

.icon-mentoring-model-v2-manage_mm_engagement_surveys-feature-enabled{
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 18px;
  height: 22px;
  margin-top: -3px;
}

/* Mentoring Model V2 related style - end */

