<% modal_v3_popup "feature.survey.responses.action.select_fields".translate do %>
  <div id="edit_columns_survey_response_popup">
    <%= render :partial => 'survey_responses/edit_columns_form' %>
  </div>
<% end %>
