<span class="col-sm-6 p-l-0">
	<span class="col-sm-8 p-l-0 font-bold"><%= content_tag(:span, "feature.profile_customization.label.field_name".translate, :class => "m-l") %></span>
	<span class="col-sm-4 no-padding font-bold"><%= "feature.profile_customization.label.field_type".translate %></span>
</span>
<span class="col-sm-3 p-l-0 font-bold"><%= "feature.profile_customization.label.confirgured_for".translate %></span>
<span class="col-sm-3 p-l-0 text-center font-bold"></span>