<h3 id="inactive_alert">
  <%= "feature.program.content.program_not_active_v1_html".translate(admin: _admin, program: _program, contact_chronus: mail_to(SUPPORT_EMAIL, "feature.program.label.contact_chronus".translate)) %>
</h3>