<tr class="cjs_no_content">
  <td colspan="3" class="no_content">
    <p class="text-muted text-center"><%= "feature.mentoring_tips.content.empty_text_v1".translate(:mentoring => _mentoring) %></p>
  </td>
</tr>
