<div class="col-md-12" id="community_info">
  <h3 class="font-noraml"><%= "feature.reports.content.community.trend".translate %></h3>
  <div class="row">
    <div id="dashboard_community">
      <%= render(partial: "common/tile_placeholder", locals: {skip_white_boarder: true}) %>
    </div>
  </div>
</div>