<a class="cjs-dashboard-settings p-xxs pull-right" href="javascript:void(0);" data-tile='<%= tile %>'>
  <i class="fa fa-lg no-margins fa-fw m-r-xs fa-cog"></i><span class="sr-only"><%= "display_string.Settings".translate %></span>
</a>