<% @options[:published] = false %>
<% pagination = render :partial => "three_sixty/surveys/dashboard/pagination_wrapper", :locals => {:objects => objects}%>
<% if pagination.present? %>
  <div class="pagination_box clearfix"><%= pagination  %></div>
<% end %>
<%= render :partial => "three_sixty/surveys/drafted_surveys_view_results", :locals => {:objects => objects} %>
<% if !pagination.present? %>
  <%= javascript_tag do  %>
    ThreeSixty.removeTopMerge("drafted_surveys_table");
  <% end %>
<% end %>

