<div id='app_exception'>
  <h2><%= "feature.common_errors.header.something_went_wrong".translate %></h2>
  <p><%= "feature.common_errors.content.notificated_about_issue".translate %></p>

  <div id='exit_link'>
     <%= "feature.common_errors.content.go_to_previous_page_html".translate(:click_here => link_to("display_string.Click_here".translate, :back)) %>
  </div>  
</div>
