<div class='cui-qtip-contentwrapper popup'>
  <div class="popup_content_non_header scroll-7 clearfix">
    <%= capture(&binding) %>
  </div>
  <%= javascript_tag %Q[initialize.autoResizeTextAreas();] %>
</div>