<div class='<%= local_assigns[:skip_white_boarder] ? "" : "white-bg" %> tile-placeholder'>
  <div class="tile-loader">
    <h4 class="font-bold text-center">
      <%= "display_string.Loading".translate %>
    </h4>
    <div class="sk-spinner sk-spinner-wave">
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>
  </div>
</div>