<% logo_padding_class = padding_options[:logo_padding_class] ? padding_options[:logo_padding_class] : "" %>
<% back_link_class = padding_options[:back_link_padding_class_mobile] ? padding_options[:back_link_padding_class_mobile] : "" %>
<div class="<%= logo_padding_class %> <%= back_link_class %> visible-xs"><%= title_badge %></div>
<div class="m-t-xs hidden-xs"><%= title_badge %></div>