<div class="stat-list clearfix m-t-sm col-sm-7" >
  <table class="table table-stripped small m-b-0">
    <tbody>
      <tr>
        <td class="no-borders">
           <i class="fa fa-circle text-navy"></i>
        </td>
        <td class="no-borders">
          <%= "feature.reports.content.connection_with_activity".translate(Mentoring_Connections: _Mentoring_Connections) %>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-circle text-gray"></i>
        </td>
        <td><%= "feature.reports.content.connection_without_any_activity".translate(Mentoring_Connections: _Mentoring_Connections) %></td>
      </tr>
    </tbody>
  </table>
</div>