<div class="cjs-milestone-task-container-for-filter" id="cjs_milestone_task_content_container_<%= milestone.id %>">
  <%= render partial: "groups/milestones_in_profile/milestone_content", locals: {milestone: milestone} %>
</div>