<div class="row p-t-xxs p-b-xxs no-vertical-margins text-center black-bg cui_wob_banner truncate-with-ellipsis whitespace-nowrap" id="wob_banner">
    <span class="<%= hidden_on_mobile %>"><%= wob_text %></span> &nbsp;<span class="font-bold"><%= back_url %></span>
</div>
