<div id="profile" class='mentor_profile clearfix'>
  <% unless logged_in_at_current_level? %>
    <div class="alert alert-warning">
      <%= "feature.profile.content.please_login_to_see_contributions_html".translate(login: link_to("display_string.login".translate, login_path), member_name: @profile_member.name) %>
    </div>
  <% end %>
  <div id="left_pane">
    <div id="mentor_profile" class='clearfix rounded_section'>
      <%= yield %>
    </div>
  </div>

  <% if logged_in_at_current_level? %>
    <% content_for_sidebar do %>
      <div id="profile_side_bar">
        <%= render(:partial => "members/profile_right_pane") %>
      </div>
    <% end %>
  <% end %>
</div>